.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 2.5%;
  }
  .grid-item {
    text-align: center;
  }
  img {
    width: 100%;
    border: 3px solid white;
  }
  img:hover{
    opacity: 0.8;
  }

  * {
box-sizing: border-box;
}
body { 
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  background-color: rgba(138, 46, 46, 0.45)
}
a{
 color: white;
 font-weight: 300;
 letter-spacing: 2px;
 text-decoration: none;
 background: rgba(138, 46, 46, 0.85);
 padding: 20px 5px;
 display: inline-block;
 width: 100%;
 text-align: center;}
a:hover{
 background: rgba(138, 46, 46, 1);}
.navigacio ul {
 border: 1px solid white rgba(138, 46, 46, 1);;
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;}
.navigacio li {
 flex: 3;    }
.navigacio .user {
 flex: 1;}
@media all and (max-width: 834px) {
 .navigacio ul {
    flex-wrap: wrap;}

.navigation li {
  flex: 1 1 50%;}

.navigacio .user {
  flex: 1 1 33.33%;}}

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
  }
  .grid-item {
    text-align: center;
  }
  img {
    width: 100%;
  }
  /*Tabletes nézet*/
  @media only screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  /*Telefonos nézet*/
  @media only screen and (max-width: 480px) {
    .grid-container {
      grid-template-columns: 1fr;
    }}
p{
  background-color: rgb(172, 95, 95); 
  box-shadow: 5px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 1.1rem;
  text-justify: auto;
}