
body{
    background-color: rgba(138, 46, 46, 0.45)
  }  
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
  }
  
  a {
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background: rgba(138, 46, 46, 0.85);
   padding: 20px 5px;
   display: inline-block;
   width: 100%;
   text-align: center;
  }
  
  a:hover {
   background: rgba(138, 46, 46, 1);
  }

  .title{
   position: absolute;
   z-index: 1;
   color: black;
   left: 46%;
   top: 45%;
}
  
  .navigacio ul {
   border: 1px solid white rgba(138, 46, 46, 1);;
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
  }
  
  .navigacio li {
   flex: 3;    
  }
  
  .navigacio .user {
   flex: 1;
  }
  

p,h2{
   text-align: center;
   
}

.kep{
   position: relative;
   width: 100%;
}
.banner{
   position: relative;
   text-align: center; 
   transition: 1s;
}
.cim{
   position: absolute;
   z-index: 1;
   color: white;
   left: 48%;
   top: 45%;
}
.kepek{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
   border: 2px white solid;
   transition: transform 1.5s;
}
.kepek:hover{
   transform:scale(1.1);
}
.banner:hover{
   opacity: 0.75;
   
}

@media all and (max-width: 834px) {
  
   .navigacio ul {
  
      flex-wrap: wrap;
  
   }
  
   
  
   .navigation li {
  
      flex: 1 1 50%;
  
   }
  
  
  
   .navigacio .user {
  
      flex: 1 1 33.33%;
  
   }
  
  }
  
  
  
  @media all and (max-width: 480px) {
  
   .navigation li {
  
      flex-basis: 100%;
  
   }
  
  
  
   .navigation .user {
  
      flex-basis: 50%;
  
   }
  
  }