
body{
  background-color: rgba(138, 46, 46, 0.45)
}  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  border-right: 2px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 50px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.oldalnev{
  color: white;
  text-align: center;
}
